<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon"
          type="image/png"
          href="/static/img/favicon.png">
    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <script type="module" src="/static/js/checkout/main.js" defer></script>
    <script src="https://kit.fontawesome.com/5c17addabc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
</head>
<body>
<header class="header-container">
    <h1 class="header-title">Fantasy Figures Shop</h1>
</header>

<div class="main-div">
    <div id="checkout-container">
        <div id="user-info-container">
            <!--        <h3>Shipping Address</h3>-->
            <!--        <label for="fname"><i class="fa fa-user"></i> First Name</label>-->
            <!--        <input type="text" id="fname" name="firstname" placeholder="John" th:field="*{username}">-->
            <!--        <label for="fname"><i class="fa fa-user"></i> Last Name</label>-->
            <!--        <input type="text" id="lname" name="lastname" placeholder="Doe">-->
            <!--        <label for="email"><i class="fa fa-envelope"></i> Email</label>-->
            <!--        <input type="text" id="email" name="email" placeholder="john@example.com">-->
            <!--        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>-->
            <!--        <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">-->
            <!--        <label for="city"><i class="fa fa-institution"></i> City</label>-->
            <!--        <input type="text" id="city" name="city" placeholder="Budapest">-->
            <!--        <label for="city"><i class="fa fa-institution"></i> Country</label>-->
            <!--        <input type="text" id="country" name="city" placeholder="Hungary">-->

            <div class="row">
                <div class="col-75">
                    <div class="container">
                        <div class="row">
                            <div class="col-50">
                                <h3>Billing Address</h3>
                                <label for="fname"><i class="fa fa-user"></i> First Name</label>
                                <input type="text" id="fname" name="firstname" placeholder="John">
                                <div class="error" id="fname-error"></div>

                                <label for="fname"><i class="fa fa-user"></i> Last Name</label>
                                <input type="text" id="lname" name="lastname" placeholder="Doe">
                                <div class="error" id="lname-error"></div>

                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" id="email" name="email" placeholder="john@example.com">
                                <div class="error" id="email-error"></div>

                                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                <input type="text" id="adr" name="address" placeholder="Random utca 69/A">
                                <div class="error" id="address-error"></div>

                                <label for="zip"><i class="fas fa-map-pin"></i> Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="1051">
                                <div class="error" id="zip-error"></div>

                                <label for="city"><i class="fa fa-institution"></i> City</label>
                                <input type="text" id="city" name="city" placeholder="Budapest">
                                <div class="error" id="city-error"></div>

                                <label for="city"><i class="fa fa-institution"></i> Country</label>
                                <input type="text" id="country" name="city" placeholder="Hungary">
                                <div class="error" id="country-error"></div>
                            </div>
                        </div>
                        <button class="btn-primary btn" id="submit-button">Continue to payment</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="order-confirm-container">
            <div class="col-25">
                <div class="container">
                    <h4>Cart
                        <span class="price" style="color:black">
                            <i class="fa fa-shopping-cart"></i>
                            <b>4</b>
                        </span>
                    </h4>
                    <div id="lineitems">
                        <table border="1" style="width:300px">
                            <thead>
                            <tr>
                                <th>Test Name</th>
                            </tr>
                            </thead>
                            <tr th:each="smokeTest : ${smokeTests}">
                                <td>
                                    th:text="${smokeTest.name}">A Smoke Test'
                                </td>
                            </tr>
                        </table>
                        <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                    </div>
                    <hr>
                    <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>