* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    justify-content: space-between;
}

.header-container {
    top: 0;
    position: fixed;
    z-index: 10;
    height: 80px;
    background-color: #b3e5e5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > .header-title {
    padding-left: 40%;
}

#checkout-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -150px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 160px 15px 160px;
    padding: 5px 160px 15px 160px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #428bca;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9;
}

.error {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 75%;
    height: 20px;
}